{% extends "base.html" %}

{% block title %}
  Success
{% endblock %}


{% block content %}
<!-- Top Header With Logo
  ====================================-->
  <div id="tf-page-header" class="text-center">
      <div class="container">
          <h5><em>moving forward</em></h5>
          <hr>
          <h2 class="text-uppercase">Success</h2>
      </div>
  </div>

  <!-- Blog Body
  ====================================-->
  <div id="tf-content" class="contact">
      <div class="container"><!-- Container -->
          <div class="row"><!-- Row -->

              <div class="col-md-10 col-md-offset-1">
                  <div class="post-block">
                      <div class="post-detail">

                          {% if message %}

                            {% if message2 %}
                              <h4 style="margin-top: 0px">
                                <img src="/assets/images/stop.jpg" height="100">
                                {{ message2 }}
                              </h4>
                              <h3>
                                <a href="/login">Log In</a>
                              </h3>
                            {% endif %}
                          {% endif %}


                          {% if contactform == 'true' %}
                            <h3 class="text-center" style="margin-top: 0px">
                              {{ message }}
                            </h3>
                          {% endif %}


                          <!-- user registration success -->
                          {% if success_registration == 'true' %}
                            <h3 class="text-center" style="margin-top: 0px">
                              {{ success_registration1 }}
                            </h3>
                            <p style="margin-top: 15px">
                              {{ success_registration2 }}
                            </p>
                            <br><br><br><br>
                          {% endif %}


                          <!-- user account activation success -->
                          {% if acct_activated == 'true' %}
                            <h3 class="text-center" style="margin-top: 0px">
                              {{ acct_activated1 }}
                            </h3>
                            <h3>
                              You can <a href="/login">Log in</a>
                            </h3>
                          {% endif %}



                          <!-- user account logs out successfully -->
                          {% if logout == 'true' %}
                            <h3 class="text-center" style="margin-top: 0px">
                              {{ message }}
                            </h3>
                            <h3 class="text-center">
                              <a href="/login">Log in</a>
                            </h3>
                          {% endif %}







                          {% if register_success == 'true' %}
                            <h3 style="margin-top: 0px">
                              Thank you {{ first_name }} {{ last_name}}!
                            </h3>
                            <h4 style="margin-top: 15px">
                              {{ register_success1 }}
                            </h4>
                            <p style="margin-top: 15px">
                              {{ register_success2 }}
                            </p>
                            <h3 style="margin-top: 15px">
                              <a href="/login">{{ register_success3 }}</a>
                            </h3>
                            <h4 style="margin-top: 15px">
                              {{ register_success4 }}
                            </h4>
                            <h4 style="margin-top: 15px">
                              {{ register_success5 }}
                            </h4>
                            <br><br><br><br>
                          {% endif %}


                          {% if pwdchange == 'true' %}
                            <h4 style="margin-top: 15px">
                              Your password has been changed.
                            </h4>
                            <h4 style="margin-top: 15px">
                              <a href="/login">Click here to Log In using your new password</a>
                            </h4>
                            <br><br><br><br>
                          {% endif %}

                          {% if testimonialsuccess == 'true' %}
                            <h3 style="margin-top: 15px">
                              Thanks {{ user.first_name }} {{ user.last_name }}! Your testimonial
                              was successfully submitted!
                            </h3>
                            <h4 style="margin-top: 15px">
                              Your testimonial will be reviewed before being published. If
                              approved, you will receive an email notification with a link to
                              view it on AmericanBizTrader.com.
                            </h4>
                            <br><br><br><br>
                          {% endif %}
                    </div>
                </div>
            </div>
        </div><!-- end Row -->
    </div><!-- End Container -->
</div>
{% endblock %}
