{% extends 'base-admin.html' %}

{% block title %}
  Admin | ABT
{% endblock %}

{% block css %}

{% endblock %}


{% block content %}
<div class="container-fluid">
  <!-- <img src="#" class="admin-bg"  alt="Challenge My Faith"> -->
    <div class="row">
        <div id="dashboard-toggle" class="col-sm-12" style="margin-top:-20px;margin-left:195px;">
            <div class="dashboard-tips-wrapper" style="padding-left:20px;">
                <h1 class="text-center" style="margin-top:20px;">
                  Admin Panel
                </h1>
                <h3 style="margin-bottom:15px;font-weight:bold;">Statistics for {{ author.user_display_name }}</h3>
                  <div class="admin-statistics-list">
                    <p><span class="bold">Total number of posts</span></p>
                    <ul>
                      <li><span class="bold">Amount:</span> {{ posts|length }} </li>
                    </ul>

                    <p><span class="bold">Last post</span></p>
                      <ul>
                        <li><span class="bold">Title:</span> {{ last_post.post_title}}</li>
                        <li><span class="bold">Category:</span> {{ last_post.category_title }}</li>
                        <li><span class="bold">Date:</span> {{ last_post.post_date|date("Y-m-d") }} </li>
                      </ul>

                    <p><span class="bold">Category with most posts</span></p>
                      <ul>
                        <li><span class="bold">Category:</span> </li>
                        <li><span class="bold">Amount:</span> </li>
                      </ul>

                    <p><span class="bold">Post with most comments</span>  </p>
                      <ul>
                        <li><span class="bold">Title:</span> </li>
                        <li><span class="bold">Number:</span> </li>
                        <li><span class="bold">Date:</span> </li>
                      </ul>
                  </div>
            </div>

        </div><!-- // .col -->
    </div><!-- // .row -->
</div><!-- // .container-fluid -->
{% endblock %}


{% block bottomjs %}

{% endblock %}
