{% extends "base.html" %}

{% block title %}
    Real Estate details
{% endblock %}

{% block metadescription %}
  {{ listing.subtype }} commercial real estate {% if listing.type == 'sale' %}for sale.{% else %}for lease.{% endif %} {{ listing.address }}, {{ listing.city }}, {{ listing.state }} {{ listing.zip }}. {% if listing.date_available %}Occupy date: {{ listing.date_available }}.{% endif %} {{ listing.ad_title }}. {{ 'now'|date('Y-m-d') }}.
{% endblock %}

{% block css %}
<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 800px;
  }
   .modal { top:5%; bottom:5%; }
   .modal-body { max-height:100%; height:85%; }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>
{% endblock %}


{% block content %}
<div class="page-wrapper">
        <div class="row">
            <div class="col-md-12" style="padding-top:15px;">
                <h2 style="color: #bdbdbd; margin: 5px 0px 20px 0px;" class="text-center">
                  {{ (broker.company_name|striptags)|raw }} presents
                </h2>
                <h3 style="margin-top: -10px; margin-bottom: -7px;">
                    {% if listing.type == 'sale' %}
                      For sale:
                    {% else %}
                      For lease:
                    {% endif %}
                    {{ (listing.ad_title|striptags)|raw }}
                    -
                    {{ ((listing.address|striptags)|title)|raw }}
                </h3>
                <h5>
                    {% if listing.city %}
                    {{ listing.city }},
                    {% endif %}
                    {{ listing.state }}
                    {% if listing.county %}
                    {{ listing.county }} County
                    {% endif %}
                    {{ listing.zip }}
                </h5>
            </div><!--  // .col-md-12  -->
        </div><!--  // .row  -->

        <div class="row p6">
            <div class="col-md-8 col-sm-12 p2">
                <div class="listing-box" style="margin-bottom: 15px">

                  {% if listing.status == 'sold' %}
                    <h1 class="text-center bold" style="color:#ff0000">*SOLD!*</h1>
                  {% endif %}

                    {% if img_width > 300 and img_width < 400 %}
                      <div class="col-md-6 col-center-block">
                    {% elseif img_width > 400 and img_width < 500 %}
                      <div class="col-md-7 col-center-block">
                    {% elseif img_width > 500 and img_width < 600  %}
                      <div class="col-md-8 col-center-block">
                    {% elseif img_width > 600 and img_width < 700 %}
                      <div class="col-md-10 col-center-block">
                    {% else %}
                      <div class="col-md-12 col-center-block">
                    {% endif %}
                      <div class="img-responsive p2" id="photo"></div>
                    </div>

                    <div class="row">

                        <div id="biz-listing-image-gallery" class="text-center">

                            {% if listing.img01 and listing.img01 != '' %}
                            <a href="/assets/images/uploaded_real_estate_photos/{{ listing.img01 }}" class="">
                                <img src="/assets/images/uploaded_real_estate_photos/{{ listing.img01 }}"
                                alt="{{ broker.company_name }}|{{ listing.ad_title|raw }}" >
                            </a>
                            {% endif %}


                            {% if listing.img02 and listing.img02 != '' %}
                            <a href="/assets/images/uploaded_real_estate_photos/{{ listing.img02 }}" class="">
                                <img src="/assets/images/uploaded_real_estate_photos/{{ listing.img02 }}"
                                alt="{{ broker.company_name }}|{{ listing.ad_title|raw }}" >
                            </a>
                            {% endif %}


                            {% if listing.img03 and listing.img03 != '' %}
                            <a href="/assets/images/uploaded_real_estate_photos/{{ listing.img03 }}" class="">
                                <img src="/assets/images/uploaded_real_estate_photos/{{ listing.img03 }}"
                                alt="{{ broker.company_name }}|{{ listing.ad_title|raw }}" >
                            </a>
                            {% endif %}


                            {% if listing.img04 and listing.img04 != '' %}
                            <a href="/assets/images/uploaded_real_estate_photos/{{ listing.img04 }}" class="">
                                <img src="/assets/images/uploaded_real_estate_photos/{{ listing.img04 }}"
                                alt="{{ broker.company_name }}|{{ listing.ad_title|raw }}" >
                            </a>
                            {% endif %}


                            {% if listing.img05 and listing.img05 != '' %}
                            <a href="/assets/images/uploaded_real_estate_photos/{{ listing.img05 }}" class="">
                                <img src="/assets/images/uploaded_real_estate_photos/{{ listing.img05 }}"
                                alt="{{ broker.company_name }}|{{ listing.ad_title|raw }}" >
                            </a>
                            {% endif %}


                            {% if listing.img06 and listing.img06 != '' %}
                            <a href="/assets/images/uploaded_real_estate_photos/{{ listing.img06 }}" class="">
                                <img src="/assets/images/uploaded_real_estate_photos/{{ listing.img06 }}"
                                alt="{{ broker.company_name }}|{{ listing.ad_title|raw }}" >
                            </a>
                            {% endif %}
                        </div><!-- // #biz-listing-image-gallery  -->

                        <div class="text-center">
                          <!-- Button trigger modal -->
                          <button style="margin-top:20px;" type="button" class="btn btn-default btn-sm"
                            data-toggle="modal" data-target="#myModal" onclick="codeAddress();">
                            Google Map
                          </button>
                        </div>

                        <hr>

                    </div><!--  // .row  -->


                    <!--  -  -  -  -  -  -  Key Metrics  -  -  -  -  -  -  -  -  -  -  -  -->

                    <div class="row">

                        <h3 class="listing-red ls1 text-center" style="margin-top:-5px;">
                            Key metrics
                        </h3>

                        <div class="col-md-12">
                            <h4 style="margin: -10px 0px 10px 0px;">
                              {% if listing.type == 'sale' %}
                                Asking Price:
                              {% elseif listing.type == 'lease' %}
                                Per month:
                              {% endif %}
                              <span class="bold">
                                {% if listing.asking_price %}
                                  ${{ listing.asking_price|number_format(0) }}
                                {% endif %}
                              </span>
                            </h4>
                        </div>

                    </div><!--  // .row  -->


                    <div class="row">

                        <div class="p-margins">
                            <div class="col-md-4 col-sm-4">
                                <p>Type: <span class="bold text-capitalize"> {{ listing.type }}</span></p>
                                <p>Category: <span class="bold"> {{ listing.subtype }} </span></p>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <p>Square feet: <span class="bold"> {{ listing.square_feet|number_format }} </span></p
                                <p>Acres: <span class="bold"> {{ listing.acres }}</span></p>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <p>Date available: <span class="bold"> {{ listing.date_available }}</span></p>
                                {% if listing.brochure %}
                                  <p><a href="/assets/images/uploaded_real_estate_brochures/{{ listing.brochure }}" target="_blank">Brochure</a> <span class="glyphicon glyphicon-cloud-download"></span></p>
                                {% else %}
                                  <p><a href="#" target="_blank">No brochure</a> <span class="glyphicon glyphicon-cloud-download"></span></p>
                                {% endif %}
                            </div>
                        </div>
                    </div><!--  // . row  -->
                </div><!--  // .listing-box  -->


                <!--  -  -  -  -  -  -  Listing Data  -  -  -  -  -  -  -  -  -  -  -  -->

                <div class="listing-box">
                    <h3>Description</h3>
                    <div class="box-for-text">
                        <p>{% if listing.description %} {{ listing.description|raw }} {% endif %}</p>
                    </div>

                    <h3>Keywords</h3>
                    <div class="box-for-text">
                        <p>{% if listing.keywords %} {{ listing.keywords }} {% endif %}</p>
                    </div>

                    <div class="box-general">
                        <p class="bold text-center text-uppercase">disclaimer</p>
                        <p style="font-size: 93%;">
                            American Biz Trader has not made any independent investigation,
                            verification or audit of the information contained in
                            this advertisement and makes no representations or
                            warranties, express or implied, regarding the accuracy
                            or completeness of the information contained herein
                            or linked to and assumes no responsibility to its
                            accuracy or completeness. When buying or selling a
                            business American Biz Trader encourages you to seek
                            the advice of a professional business broker.
                            American Biz Trader has no monetary interest in the
                            sale of the business. American Biz Trader does not
                            warrant the Right of Use of any photography, logos
                            or graphics.
                        </p>
                    </div>

                </div><!-- // .listing-box  -->
            </div><!-- // .col-md-8  -->



<!--  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

            <div class="col-md-4 col-sm-12">
                {% include 'Realty/sidebar-right.html' %}
            </div><!--  // .col-md-4  -->


        </div><!-- // .row -->
</div><!--  // .page-wrapper  -->

<!-- modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="myModal" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          {% if listing.address %}
          {{ listing.address }}
          {% endif %}
          {% if listing.city %}
          {{ listing.city }},
          {% endif %}
          {{ listing.state }}
          {% if listing.county %}
          {{ listing.county }} County
          {% endif %}
          {{ listing.zip }}
        </h4>
        <h5 style="margin: 0px 0px 10px 0px;">
          {% if listing.type == 'sale' %}
            Asking Price:
          {% elseif listing.type == 'lease' %}
            Lease for month:
          {% endif %}
          <span class="bold">
            {% if listing.asking_price %}
              ${{ listing.asking_price|number_format(0) }}
            {% endif %}
          </span>
        </h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div id="map"></div>
          </div>
        </div>
        <script>
          // set global variables
          var map;
          function codeAddress() {

            var listing_address = '{{ listing.address }} {{ listing.city }}, {{ listing.state }}';

            console.log(listing_address);

            // create new Geocoder object
            var geocoder = new google.maps.Geocoder();

            // store address in variable
            var address = listing_address;

            // call geocode() method of geocoder object; pass address & callback
            // function with array to store results & status
            geocoder.geocode( { 'address': address}, function(results, status) {
              if (status == 'OK') {

                console.log("Status = " + status);

                // store Lat/Lng object in variable
                var myLatLng = results[0].geometry.location;

                // store map parameters in variable
                var mapOptions = {
                  center: myLatLng,
                  zoom: 19,
                  mapTypeId: 'satellite', // roadmap, satellite, hybrid, terrain
                  tilt: 45
                };

                // create new Map object & display in #map
                map = new google.maps.Map(document.getElementById('map'),
                  mapOptions
                );

                //map.setCenter(results[0].geometry.location);
                // display marker
                var marker = new google.maps.Marker({
                    map: map,
                    position: myLatLng,
                    title: address
                });

              } else {
                alert('Geocode was not successful for the following reason: ' + status);
              }
            });
          }
        </script>
        <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAa0H9ZszDVlMQvgUio66v40nDbvuYc-L8">
        // src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAa0H9ZszDVlMQvgUio66v40nDbvuYc-L8&callback=initMap">
        </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block bottomjs %}
<script>
$(document).ready(function(){

    /*  - - - - - - -  Gallery  - - - - - - -  */
    $("#biz-listing-image-gallery a").click(function(evt){
         evt.preventDefault();

         var imgPath = $(this).attr("href");
         //console.log(imgPath);

        var oldImage = $("#photo img");  // holds img element inside photo div
        var newImage = $('<img class="img-responsive center-block" src="' + imgPath + '">');  // creates new img tag
        newImage.hide(); // hide tag to prevent displaying image
        $("#photo").prepend(newImage);  // place value of newImage at the beginning of #photo div, e.g. <div id="photo"><img src="imgPath"></div>
        newImage.fadeIn(); // fade in new image
        oldImage.fadeOut(0, function(){
            $(this).remove();
        }); // end fadeOut

    }); // end click
    $("#biz-listing-image-gallery a:first").click();



    $("#broker_contact_form").validate();

    $('#contact-submit-btn').click(function(){
        $(this).html('Sending information. Please wait . . .');
    });


    $(".seller-financing").click(function(){
        $(this).toggleClass( "bold" );
    });
    $(".lender-prequalified").click(function(){
        $(this).toggleClass( "bold" );
    });



});
</script>
{% endblock %}
