{% extends 'base-siteadmin.html' %}

{% block title %}
  Admin | ABT
{% endblock %}

{% block css %}

{% endblock %}


{% block content %}
<div class="container-fluid">
  <img src="/assets/images/2.jpg" class="admin-bg"
    alt="American Biz Trader">
    <div class="row">
        <div id="dashboard-toggle" class="col-md-12"
            style="margin-top:-20px;margin-left:244px;">


            <!-- <h1>Admin Panel</h1> -->


        </div><!-- // .col -->
    </div><!-- // .row -->
</div><!-- // .container-fluid -->
{% endblock %}


{% block bottomjs %}

{% endblock %}
