{% extends "base.html" %}

{% block title %}
  Home | Challenge My Faith
{% endblock %}

{% block metadescription %}
  Challenge My Faith
{% endblock %}

{% block css %}

{% endblock %}

{% block outsidecontainer %}
    <!-- JavaScript SDK For Facebook Like Page Plug in -->
    <!-- <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=470011693093094";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script><!-- end JavaScript SDK For Facebook Like Page Plug in --> -->

    <div id="top"></div><!-- Scroll to Top ID -->



    <!-- Top Header With Logo
    ====================================-->
    <!-- <div id="top-header" class="layout-two">
        <div class="container text-center">
            <a href="index.html"><img src="../assets/img/logo.png" class="logo" alt="Logo"></a>
        </div>
    </div> -->

    <!-- Header Sliders
    ====================================-->
    <!-- <div id="tf-sliders">
        <div class="container">
            <div id="header-slider" class="carousel slide carousel-fade layout-one" data-ride="carousel">


                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <img src="/assets/img/slider/01.jpg" alt="...">
                      <div class="carousel-caption">
                        <h2>Travel Makes Me Happy and Motivated</h2>
                        <a href="single-blog.html" class="btn btn-default tf-btn">Read This</a>
                      </div>
                    </div>
                    <div class="item">
                      <img src="/assets/img/slider/02.jpg" alt="...">
                      <div class="carousel-caption">
                        <h2>The Real Essence of Being Beautiful</h2>
                        <a href="single-blog.html" class="btn btn-default tf-btn">Read This</a>
                      </div>
                    </div>
                    <div class="item">
                      <img src="/assets/img/slider/03.jpg" alt="...">
                      <div class="carousel-caption">
                        <h2>How To Make Your Income Stable</h2>
                        <a href="single-blog.html" class="btn btn-default tf-btn">Read This</a>
                      </div>
                    </div>
                </div>
            </div>

            <a class="left carousel-control" href="#header-slider" role="button" data-slide="prev">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#header-slider" role="button" data-slide="next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div> -->
{% endblock %}

{% block content %}
    <!-- Blog Body
    ====================================-->
    <div id="tf-content">
        <div class="container"><!-- Container -->
            <div class="row"><!-- Row -->

                <div class="col-md-8"> <!-- Left Content for Blog Posts -->

                  {% for%}
                    <div class="post-block"> <!-- Post #1-->
                        <div class="post-detail">
                            <a href="archives.html" class="meta-date"><span class="bolder">23</span><br>April</a>
                            <h2><a href="single-blog.html">Become The Best Fashion Designer</a></h2> <!-- Post Title-->

                            <div class="img-wrap"> <!-- Image Wrap -->
                                <div class="metas">
                                    <a href="fashion.html" class="meta-cat">Fashion</a>
                                    <a href="authors.html" class="meta-author">ThemeForces</a>
                                </div>
                                <img src="http://placehold.it/800x450" class="img-responsive" alt="image">
                            </div>

                            <p>You know you're destined to be a fashion designer if you: a) spent most of your childhood making clothes for your Barbie dolls instead of playing with your friends; b) read fashion magazines instead of your school books; c) ran a boutique out of your basement at age 10. In other words: if you want to be the next Yves Saint Laurent, it helps to be completely and utterly obsessed with fashion.</p>
                            <p>However, there are many aspects of the profession. Working as a fashion designer can just as well mean supervising a design team at a sportswear company as producing a label under your own name. Although the former career may not seem as glamorous as the latter, it certainly will make your life less stressful. To create your own label takes a lot of time, dedication and hard work. Not to mention living just above the poverty line for several years[...]</p>
                        </div>

                        <ul class="list-inline social"><!-- Social Share -->
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>

                        <a href="single-blog.html" class="btn btn-default tf-btn txt-link">Continue Reading</a>

                    </div><!-- end Post #1-->


                  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - -->





                    <div class="post-block"> <!-- Post #2-->
                        <div class="post-detail">
                            <div class='title-wrap'>
                                <a href="archives.html" class="meta-date"><span class="bolder">14</span><br>April</a>
                                <h2><a href="single-blog.html">A Leader Should Be Willing To Take Responsibilities</a></h2> <!-- Post Title-->
                            </div>
                            <div class="img-wrap"> <!-- Image Wrap -->
                                <div class="metas">
                                    <a href="fashion.html" class="meta-cat">Lifestyle</a>
                                    <a href="authors.html" class="meta-author">Jenn Pereira</a>
                                </div>
                                <img src="http://placehold.it/800x450" class="img-responsive" alt="image">
                            </div>

                            <p>Who would forget the ever-famous line of Peter Parkerís grandfather, ìWith great power comes great responsibility.î The society expects Spiderman, a comic book, TV, and movie superhero, to be responsible for saving his town, or even the world, in some instances, from evil because he has super powers.</p>
                            <p>From all the episodes he appeared in, he never let us down. With the power he possesses, he makes sure to be responsible in using it for the good of the people around him.</p>
                            <p>Leadership is not at all different from being superheroes. Yes, you may not have super powers like Superman and Spiderman, but you have the authority to lead other people towards success. This is so much greater and stronger since it is a power that can be used by real people in this real world[...]</p>
                        </div>

                        <ul class="list-inline social"><!-- Social Share -->
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>

                        <a href="single-blog.html" class="btn btn-default tf-btn txt-link">Continue Reading</a>

                    </div><!-- end Post #2-->

                    <div class="post-block"> <!-- Post #3-->
                        <div class="post-detail">
                            <div class='title-wrap'>
                                <a href="archives.html" class="meta-date"><span class="bolder">06</span><br>April</a>
                                <h2><a href="single-blog.html">A Guide to Taking Your Dream Mediterranean Cruise</a></h2> <!-- Post Title-->
                            </div>
                            <div class="img-wrap"> <!-- Image Wrap -->
                                <div class="metas">
                                    <a href="fashion.html" class="meta-cat">Gallery</a>
                                    <a href="authors.html" class="meta-author">Lian Plameras</a>
                                </div>
                                <div id="img-slider" class="carousel slide" data-ride="carousel">

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                           <img src="http://placehold.it/800x450" alt="...">
                                        </div>
                                        <div class="item">
                                           <img src="http://placehold.it/800x450" alt="...">
                                        </div>
                                        <div class="item">
                                           <img src="http://placehold.it/800x450" alt="...">
                                        </div>
                                    </div>

                                    <!-- Controls -->
                                    <a class="left carousel-control" href="#img-slider" role="button" data-slide="prev">
                                        <span class="fa fa-angle-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#img-slider" role="button" data-slide="next">
                                        <span class="fa fa-angle-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>

                            <p>A Mediterranean cruise is without doubt the most varied type of cruise available. There are more than 120 seaports around the Mediterranean coastline, offering numerous combinations of cruise vacations over one-week, two-week or longer trips.</p>
                            <p>A huge clash of cultures await all who opt for a Mediterranean cruise. You can visit no less than 17 different countries, including such nations as Spain, Italy, Greece and Egypt. Each nation has its own unique attractions, all of which you can sample as your cruise ship gracefully sails around the calm blue Mediterranean Sea[...]</p>
                        </div>

                        <ul class="list-inline social"><!-- Social Share -->
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>

                        <a href="single-blog.html" class="btn btn-default tf-btn txt-link">Continue Reading</a>

                    </div><!-- end Post #3-->

                    <div class="post-block quote"> <!-- Post #4-->
                        <div class="post-detail">
                            <a href="archives.html" class="meta-date"><span class="bolder">22</span><br>March</a>
                            <div class="img-wrap"> <!-- Image Wrap -->
                                <div class="metas">
                                    <a href="#" class="meta-cat">Quote</a>
                                </div>
                                <blockquote>Sometimes being a friend means mastering the art of timing. There is a time for silence. A time to let go and allow people to hurl themselves into their own destiny. And a time to prepare to pick up the pieces when it's all over.
                                    <footer>Octavia Butler</footer>
                                </blockquote>
                            </div>
                        </div>

                        <ul class="list-inline social"><!-- Social Share -->
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>

                        <a href="single-blog.html" class="btn btn-default tf-btn txt-link">Continue Reading</a>

                    </div><!-- end Post #4-->

                    <div class="post-block youtube"> <!-- Post #5-->
                        <div class="post-detail">
                            <a href="archives.html" class="meta-date"><span class="bolder">14</span><br>April</a>
                            <h2><a href="single-blog.html">Sam Smith - I'm Not The Only One</a></h2> <!-- Post Title-->
                            <div class="img-wrap"> <!-- Image Wrap -->
                                <div class="metas">
                                    <a href="fashion.html" class="meta-cat">Music</a>
                                    <a href="authors.html" class="meta-author">Jenn Pereira</a>
                                </div>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nCkpzqqog4k" allowfullscreen></iframe>
                                </div>
                            </div>
                            <p>You and me, we made a vow
                                <br>For better or for worse
                                <br>I can't believe you let me down
                                <br>But the proof's in a way it hurts[...]</p>
                        </div>

                        <ul class="list-inline social"><!-- Social Share -->
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>

                        <a href="single-blog.html" class="btn btn-default tf-btn txt-link">Continue Reading</a>

                    </div><!-- end Post #5-->

                    <div class="post-block vimeo"> <!-- Post #5-->
                        <div class="post-detail">
                            <a href="archives.html" class="meta-date"><span class="bolder">14</span><br>April</a>
                            <h2><a href="single-blog.html">Sam Smith - I'm Not The Only One</a></h2> <!-- Post Title-->
                            <div class="img-wrap"> <!-- Image Wrap -->
                                <div class="metas">
                                    <a href="fashion.html" class="meta-cat">Music</a>
                                    <a href="authors.html" class="meta-author">Jenn Pereira</a>
                                </div>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/124307239" allowfullscreen></iframe>
                                </div>
                            </div>
                            <p>Leadership is not at all different from being superheroes. Yes, you may not have super powers like Superman and Spiderman, but you have the authority to lead other people towards success. This is so much greater and stronger since it is a power that can be used by real people in this real world[...]</p>
                        </div>

                        <ul class="list-inline social"><!-- Social Share -->
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>

                        <a href="single-blog.html" class="btn btn-default tf-btn txt-link">Continue Reading</a>

                    </div><!-- end Post #5-->

                    <div class="text-center"><!-- Pagination -->
                        <nav id="tf-pagination">
                            <ul class="pagination">
                                <li>
                                  <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                  </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li>
                                  <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                  </a>
                                </li>
                            </ul>
                        </nav>
                    </div><!-- end Pagination -->

                </div><!-- End of Posts/Blogrol -->


                <div class="col-md-4"> <!-- Right content for sidebar and widget area-->
                    <div class="sidebar"><!-- sidebar -->

                        <div class="widget search"><!-- Search Widget -->
                            <div class="widget-wrap">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Go!</button>
                                    </span>
                                </div><!-- /input-group -->
                            </div>
                        </div>

                        <div class="widget author"><!-- Author Widget -->
                            <h4>About The Author</h4>
                            <div class="widget-wrap">
                                <img src="http://placehold.it/100x100" alt="..." class="img-circle author-img">
                                <p>Working as a fashion designer can just as well mean supervising a design team at a sportswear company as producing a label under your own name. Although the former career may not seem as glamorous as the latter, it certainly will make your life less stressful. </p>
                            </div>
                        </div>

                        <div class="widget social"><!-- Social Media Connection -->
                            <h4>Follow Us</h4>
                            <div class="widget-wrap">
                                <ul class="list-inline social"><!-- Social Share -->
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="widget recent"><!-- Recent Post Widget -->
                            <h4>Recent Posts</h4>
                            <div class="widget-wrap">

                                <div class="thumb-post"><!-- Thumbnail Post #1 -->
                                    <a href="#"><img src="http://placehold.it/800x300" class="img-responsive" alt="Image"></a>
                                    <h3 class="media-heading"><a href="#">Become The Best Fashion Designer</a></h3>
                                </div>

                                <div class="thumb-post"><!-- Thumbnail Post #2 -->
                                    <a href="#"><img src="http://placehold.it/800x300" class="img-responsive" alt="Image"></a>
                                    <h3 class="media-heading"><a href="#">A Leader SHould be Willing To Take a Responsibility</a></h3>
                                </div>

                                <div class="thumb-post"><!-- Thumbnail Post #3 -->
                                    <a href="#"><img src="http://placehold.it/800x300" class="img-responsive" alt="Image"></a>
                                    <h3 class="media-heading"><a href="#">A Guide To Taking Your Dreams</a></h3>
                                </div>

                            </div>
                        </div>

                        <div class="widget category"><!-- Social Media Connection -->
                            <h4>Categories</h4>
                            <div class="widget-wrap">
                                <ul class="list-unstyled cat"><!-- Social Share -->
                                    <li><a href="#">Travel</a></li>
                                    <li><a href="#">Fashion</a></li>
                                    <li><a href="#">Photography</a></li>
                                    <li><a href="#">Lifestyle</a></li>
                                    <li><a href="#">Blogging</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="widget ads-block"><!-- Social Media Connection -->
                            <h4>Sponsered Ads</h4>
                            <div class="widget-wrap">
                                <a href="#"><img src="http://placehold.it/800x600" class="img-responsive" alt="Image"></a>
                                <br>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        <a href="#"><img src="http://placehold.it/800x600" class="img-responsive" alt="Image"></a>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <a href="#"><img src="http://placehold.it/800x600" class="img-responsive" alt="Image"></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="widget tags"><!-- Tags -->
                            <h4>Tags</h4>
                            <div class="widget-wrap">
                                <ul class="list-inline tags"><!-- Social Share -->
                                    <li><a href="#">trips</a></li>
                                    <li><a href="#">fashion</a></li>
                                    <li><a href="#">business</a></li>
                                    <li><a href="#">modeling</a></li>
                                    <li><a href="#">life</a></li>
                                    <li><a href="#">travel</a></li>
                                    <li><a href="#">photos</a></li>
                                    <li><a href="#">lifestyle</a></li>
                                    <li><a href="#">music</a></li>
                                    <li><a href="#">movies</a></li>
                                    <li><a href="#">news</a></li>
                                    <li><a href="#">events</a></li>
                                    <li><a href="#">tech</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="widget archives"><!-- Archives -->
                            <h4>Archives</h4>
                            <div class="widget-wrap">
                                <ul class="list-unstyled links"><!-- Social Share -->
                                    <li><a href="#">May 2015 (2)</a></li>
                                    <li><a href="#">April 2015 (9)</a></li>
                                    <li><a href="#">March 2015 (7)</a></li>
                                    <li><a href="#">February 2015 (5)</a></li>
                                    <li><a href="#">January 2015 (13)</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="widget twitter-feed"><!-- Twitter Feeds -->
                            <h4>Twitter Feeds</h4>
                            <div class="widget-wrap">
                                <a class="twitter-timeline" data-link-color="#be834a" data-dnt="true" href="https://twitter.com/JennylynPereira" data-widget-id="590225561802317824">Tweets by @JennylynPereira</a>
                                <!-- JavaScript SDK For Twitter Embed Timeline -->
                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                            </div>
                        </div>

                    </div><!-- end sidebar -->
                </div><!-- end Right content for sidebar and widget area-->

            </div><!-- end Row -->
        </div><!-- End Container -->
    </div>
{% endblock %}
