{% extends "base.html" %}

{% block title %}
  Home | Challenge My Faith
{% endblock %}

{% block metadescription %}
  Challenge My Faith
{% endblock %}

{% block css %}

{% endblock %}

{% block outsidecontainer %}
    <div id="top"></div><!-- Scroll to Top ID -->
{% endblock %}

{% block content %}
    <!-- Blog Body
    ====================================-->
    <div id="tf-content">
        <div class="container"><!-- Container -->
            <div class="row"><!-- Row -->
                <div class="col-md-12">
                    <div class="col-md-8">
                        {% if searchtext %}
                          <h3 class="text-center">
                            Search results for <i>"{{ searchtext }}"</i>
                          </h3>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-8"> <!-- Left Content for Blog Posts -->
                  <!-- {% if session.loggedIn %}
                    <p>logged in</p>
                  {% else %}
                    <p>
                      not logged in
                    </p>
                  {% endif %} -->
                  {% if posts|length > 0 %}
                    {% for post in posts %}
                      <div class="post-block"> <!-- Post #1-->
                          <div class="post-detail">
                              <a href="#" class="meta-date"><span class="bolder">{{ post.post_date|date("d")}}</span><br>{{ post.post_date|date("M")}}</a>
                              <h2>
                                <a href="/home/get-post?post_id={{ post.post_id }}&amp;user_id={{ session.user_id }}">
                                  {{ post.post_title }}
                                </a>
                              </h2>

                              <div class="img-wrap"> <!-- Image Wrap -->
                                  <div class="metas">
                                      <a href="/home/get-posts-by-category/{{ post.post_category }}" class="meta-cat">{{ post.category_title }}</a>
                                      <a href="/home/get-posts-by-author/{{ post.user_firstname }}-{{ post.user_lastname }}/{{ post.user_id }}" class="meta-author">{{ post.user_display_name }}</a>
                                      {% if post.comment_count > 0 %}
                                      <a class="meta-cat" style="font-size:95%;">
                                          Comments: {{ post.comment_count }}
                                      </a>
                                      {% endif %}
                                  </div>
                                  <img src="/assets/images/uploaded_post_images/{{ post.post_img }}" class="img-responsive" alt="{{ post.post_title }} by {{ post.user_display_name }}">
                              </div>

                              {{ ((post.post_content|striptags)|raw)|slice(0,400) }}
                              <a href="/home/get-post?post_id={{ post.post_id }}&amp;user_id={{ session.user_id }}">[...]</a>
                          </div>

                          <ul class="list-inline social"><!-- Social Share -->
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                              <!-- <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                              <li><a href="#"><i class="fa fa-pinterest"></i></a></li> -->
                          </ul>

                          <a href="/home/get-post?post_id={{ post.post_id }}&amp;user_id={{ session.user_id }}" class="btn btn-default tf-btn txt-link">
                            Continue Reading
                          </a>

                      </div><!-- end Post #1-->
                    {% endfor %}
                  {% else %}
                  <div class="alert alert-danger">
                      <p class="text-center">
                          No results to display for "{{ searchtext }}".
                      </p>
                  </div>
                  {% endif %}

                </div><!-- / .col-md-8 -->


  <!-- - - - - - - - - - - - - - -Right sidebar  - - - - - - - - - - - - - - -->

                <div class="col-md-4"> <!-- Right content for sidebar and widget area-->
                    <div class="sidebar"><!-- sidebar -->

                        <div class="widget search"><!-- Search Widget -->
                            <div class="widget-wrap">
                                <form method="get" name="home-search" id="home-search"
                                  action="/search/index/{{ session.user_id }}">
                                    <div class="input-group">
                                        <input type="text" class="form-control required"
                                          name="searchtext" id="searchtext"
                                          placeholder="Search for...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit">
                                                Go!
                                            </button>
                                        </span>
                                    </div><!-- /input-group -->
                                </form>
                            </div>
                        </div>


                        <div class="widget social"><!-- Social Media Connection -->
                            <h4>Follow Us</h4>
                            <div class="widget-wrap">
                                <ul class="list-inline social"><!-- Social Share -->
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <!-- <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li> -->
                                </ul>
                            </div>
                        </div>

                        <div class="widget recent"><!-- Recent Post Widget -->
                            <h4>Recent Challenges
                              <!-- <span class="badge" style="background-color: transparent;margin-top:-6px;">{{ recentposts|length }}</span> -->
                            </h4>
                            <div class="widget-wrap" style="padding: 10px 20px;">
                              {% for post in recentposts %}
                                <div class="home-recent-posts"><!-- Thumbnail Post #1 -->
                                    <!-- <a href="#"><img src="http://placehold.it/800x300" class="img-responsive" alt="Image"></a> -->
                                    <a href="/home/get-post?post_id={{ post.post_id }}&amp;user_id={{ session.user_id }}">
                                      {{ post.post_title }}
                                    </a>
                                </div>
                              {% endfor %}
                            </div>
                        </div>

                        <div class="widget author"><!-- Author Widget -->
                            <h4>Authors</h4>

                            {% for author in authors %}
                              <div class="widget-wrap" style="min-height:100px;">
                                  <a href="/home/get-author-posts/{{ author.user_id }}">
                                      <img style="width:70px;" src="/assets/images/authors/{{ author.user_img }}" alt="{{ post.user_display_name}}" class="img-circle author-img">
                                  </a>
                                  <p>
                                    <a href="/home/get-posts-by-author/{{ author.user_firstname }}-{{ author.user_lastname }}/{{ author.user_id }}">{{ author.user_display_name }}</a>
                                  </p>
                              </div>
                            {% endfor %}

                        </div>

                        <div class="widget category"><!-- Social Media Connection -->
                            <h4>Categories</h4>
                            <div class="widget-wrap">
                                <ul class="list-unstyled cat"><!-- Social Share -->
                                  {% for category in categories %}
                                    <li><a href="/home/get-posts-by-category/{{ category.category_id }}"><span class="text-capitalize">{{ category.category_title }}</span></a></li>
                                  {% endfor %}
                                    <!-- <li><a href="#">Fashion</a></li>
                                    <li><a href="#">Photography</a></li>
                                    <li><a href="#">Lifestyle</a></li>
                                    <li><a href="#">Blogging</a></li> -->
                                </ul>
                            </div>
                        </div>

                        <div class="widget ads-block"><!-- Social Media Connection -->
                            <h4>Suggested Reading</h4>
                            <div class="widget-wrap">
                                <a href="#"><img src="http://placehold.it/800x600" class="img-responsive" alt="Image"></a>
                                <br>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        <a href="#"><img src="http://placehold.it/800x600" class="img-responsive" alt="Image"></a>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <a href="#"><img src="http://placehold.it/800x600" class="img-responsive" alt="Image"></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="widget tags">
                            <h4>Tags</h4>
                            <div class="widget-wrap">
                                <ul class="list-inline tags">
                                    <li><a href="#">trips</a></li>
                                    <li><a href="#">fashion</a></li>
                                    <li><a href="#">business</a></li>
                                    <li><a href="#">modeling</a></li>
                                    <li><a href="#">life</a></li>
                                    <li><a href="#">travel</a></li>
                                    <li><a href="#">photos</a></li>
                                    <li><a href="#">lifestyle</a></li>
                                    <li><a href="#">music</a></li>
                                    <li><a href="#">movies</a></li>
                                    <li><a href="#">news</a></li>
                                    <li><a href="#">events</a></li>
                                    <li><a href="#">tech</a></li>
                                </ul>
                            </div>
                        </div> -->

                        <!-- <div class="widget archives">
                            <h4>Archives</h4>
                            <div class="widget-wrap">
                                <ul class="list-unstyled links">
                                    <li><a href="#">May 2017 (2)</a></li>
                                    <li><a href="#">April 2017 (9)</a></li>
                                </ul>
                            </div>
                        </div> -->

                        <div class="widget twitter-feed"><!-- Twitter Feeds -->
                            <h4>Twitter Feeds</h4>
                            <div class="widget-wrap">
                                <a class="twitter-timeline" data-link-color="#be834a" data-dnt="true" href="https://twitter.com/webmediapartner" data-widget-id="660568370987663360">Tweets by @webmediapartner</a>
                                <!-- JavaScript SDK For Twitter Embed Timeline -->
                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                            </div>
                        </div>

                    </div><!-- end sidebar -->
                </div><!-- end Right content for sidebar and widget area-->

            </div><!-- end Row -->
        </div><!-- End Container -->
    </div>
{% endblock %}

{% block bottomjs %}
<script>
$(document).ready(function(){

  $("#searchtext").focus(function(){
      $(this).css("background-color", "#fff");
  });
  $("#searchtext").blur(function(){
      $(this).css("background-color", "#f6f6f6");
  });

});

</script>
{% endblock %}
