{% extends 'base.html' %}

{% block title %}
  Login
{% endblock %}


{% block content %}
<!-- Top Header With Logo
  ====================================-->
  <div id="tf-page-header" class="text-center">
      <div class="container">
          <h5><em>log in</em></h5>
          <hr>
          <h2 class="text-uppercase">Log In</h2>
      </div>
  </div>

  <!-- Blog Body
  ====================================-->
  <div id="tf-content" class="contact">
      <div class="container"><!-- Container -->
          <div class="row"><!-- Row -->

              <div class="col-md-10 col-md-offset-1">
                  <div class="post-block">
                      <div class="post-detail">

                          {% if session.loginerror %}
                            {% include 'Error/errormessage.html' %}
                          {% endif %}

                          <form name="loginform" id="loginform" action="login/login-user"
                            method="post" class="form">

                              <!--<input type="hidden" name="_token" value="{!! htmlspecialchars($signer->getSignature()) !!}">-->
                              <div class="form-group has-feedback">
                                  <input style="background:#fff;" type="email" class="form-control input-field email required"
                                  name="email" id="email" placeholder="user@example.com"
                                  autofocus>
                                  <span class="glyphicon form-control-feedback" id="email1"></span>
                              </div>

                              <div class="form-group has-feedback">
                                  <input type="password" class="form-control input-field required"
                                  name="password" id="password" placeholder="Password">
                                  <span class="glyphicon form-control-feedback" id="password1"></span>
                              </div>

                              <div style="margin-top:0px;font-size:90%;margin-bottom: 20px;">
                                  <a class="pull-left" href="login/forgot-password">Forgot password</a>
                                  <a class="pull-right" href="/register">Register</a>
                              </div>

                              <div style="padding-top: 25px;"></div>

                              <div class="form-group">
                                  <button type="submit" class="btn btn-default btn-block tf-btn color" id="login-btn">
                                    Sign in
                                  </button>
                              </div>

                          </form>
                    </div>
                </div>
            </div>
        </div><!-- end Row -->
    </div><!-- End Container -->
</div>
{% endblock %}


{% block bottomjs %}
<script>
$(document).ready(function(){
    // $("#loginform").validate();

    $("#loginform").validate({
        rules: {
            email: {
                required: true,
                email: true
            },
            password: {
                required: true,
                minlength: 6,
                maxlength: 12
            },
        },
        messages: {
            email: {
                required: "*Please enter your email address",
                email: "*Please enter a valid email address"
            },
            password: {
                minlength: "*Please enter at least 6 characters",
                maxlength: "*Please enter up to 12 characters",
                required: "*Please enter a password",
            },
        },
        highlight: function(element) {
            var id_attr = "#" + $( element ).attr("id") + "1";
            $(element).closest('.form-group has-feedback').removeClass('has-success').addClass('has-error');
            $(id_attr).removeClass('glyphicon-ok').addClass('glyphicon-remove');
        },
        unhighlight: function(element) {
            var id_attr = "#" + $( element ).attr("id") + "1";
            $(element).closest('.form-group has-feedback').removeClass('has-error').addClass('has-success');
            $(id_attr).removeClass('glyphicon-remove').addClass('glyphicon-ok');
        },
        errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function(error, element) {
                if(element.length) {
                    error.insertAfter(element);
                } else {
                error.insertAfter(element);
                }
            }


     });


     $(".input-field").focus(function(){
         $(this).css("background-color", "#fff");
     });
     $(".input-field").blur(function(){
         $(this).css("background-color", "#f6f6f6");
     });

    //  $("#loginform").submit(function(){
    //    $("#login-btn").text("Processing request. Please wait...");
    //  });



});
</script>
{% endblock %}
