{% extends "base.html" %}

{% block title %}
  About
{% endblock %}

{% block metadescription %}
    Contact Challenge My Faith.
{% endblock %}

{% block content %}
<!-- Top Header With Logo
  ====================================-->
  <div id="tf-page-header" class="text-center">
      <div class="container-fluid">
          <h5><em>who we are</em></h5>
          <hr>
          <h2 class="text-uppercase">About Challenge My Faith</h2>
      </div>
  </div>

  <!-- Blog Body
  ====================================-->
  <div id="tf-content" class="about">
      <div class="container"><!-- Container -->
          <div class="row"><!-- Row -->

              <div class="col-md-10 col-md-offset-1"> <!-- About us content -->
                  <div class="post-block">
                      <div class="post-detail">
                          <div class="img-wrap"> <!-- Image Wrap -->
                              <img src="/assets/images/about-img01.jpg" class="img-responsive" alt="image">
                          </div>
                          <h3 class="text-center" style="margin:10px;">The Wandering Herd</h3>
                          <div class="three-columns">
                              <p>
                                  Are critical thinking and skepticism on the endangered list? Despite access to unparalleled quantities of
                                  information, there's a poignant dearth of deliberated conclusions outside academia, especially in
                                  social media where it seems that unsupported dogmatism and superficiality proliferate in the brutality of
                                  bigoted repetition.
                              </p>
                              <p>
                                  Are we infected by an emotional need to hear the words "I agree?" Does it drive us toward textual applause, likes,
                                  smileys and emojies of praise like duty-bound members of a mutual admiration society, or comrades in a battle for
                                  beliefs that neither offer or require a reasonable defense or demonstration of comprehension? Social media dialog
                                  can be contentiously personal. Alternative perspectives are often interpreted as effrontery, prompting fight or
                                  flight responses rather than composed rational debate, suggesting a tacit understanding that posts are designed
                                  to elicit support; questions or dissent are unwelcome etiquette violations.
                              </p>
                              <p>
                                  Twitter, in its original text-only format, was the alternative to Facebook&apos;s verbosity without boundaries. It
                                  introduced character constraints, defining a tweet as a message less than 144 characters in length. To tweet meant
                                  capturing everything in a form akin to verbal grunts. The groundwork was laid to take social media superficiality
                                  to even greater heights (or depths), and advance its proliferation. Brevity reigned, regardless of the cost to honored
                                  traditions of sentence structure, syntax, and the art of literary composition. Verbal grunts replaced rhythm, cadence
                                  and the inspiring beauty of communicative prose.
                              </p>
                              <p>
                                  Social media not only created a new breed of writers, it silenced opponents of provincialism who refused to participate
                                  in social media prattle. Thoughtful articulation finds no satisfaction in the barren soil of social media&apos;s
                                  opinionated dogmatism and the unfounded assertions and too many of its faithful users.
                              </p>
                              <p>
                                  How did it come about that the number of followers -- a venerated trifle -- is a measure of worth? Such veneration is
                                  an indictment against a culture of spectacle enamored by celebrity. When did we come to value volume over substance? The
                                  measure of speech quality is not the number of listeners. Demagogues often draw large crowds. The words "follower"
                                  and "friend" are victims of reductionism and redefinition. We imbue blurts with value admirable only by a provincialist
                                  with indecorous standards. What have we become? Is what we do in social media truly engaging? Only if we define engagement as mindless
                                  validation of undefended conclusions.
                              </p>
                              <p>
                                  The character of superficiality is both its undeliberativeness and its inability to answer the question Why? Why do
                                  you believe what you believe? How did you come to believe what you believe instead of something else? What alternatives
                                  did you reject, and why? Superficiality cannot delineate or defend a held belief. It tends to believe that repetition
                                  is a test of truth: what we hear repeatedly must be true, and what has long been understood to be true is true on the
                                  grounds of its longevity. Longevity implies truth and truth implies longevity. Holding a belief superficially means the
                                  inability to explain why a belief is a belief. The faith implicit to superficiality is defined succinctly by David Bentley
                                  Hart as credulous assent to unfounded premises (<i>Atheist Delusions</i>).
                              </p>
                              <p>
                                  Who understands the difference between an opinion and a position? Who can argue the merits of an opponent&apos;s view and then
                                  show how their&apos;s differs?
                              </p>
                              <p>
                                  When did the sharing one&apos;s two cents become an event; an expression of creative intelligence that warrants special names
                                  like &quot;post&quot; or &quot;tweet?&quot; When did social media memes become an <i>ipso facto</i> source of reliable intelligence worthy of
                                  dissemination as if on a moral mission to conquer untruths, abrogate misconceptions and straighten misinformation? When did
                                  comedians become a new kind of philosopher, the reflective sector of society, sorting the true from the false and dispensing
                                  distilled and apportioned knowledge? When did entertainment become an educational milieu, or a precursor to learning?
                              </p>
                              <p>
                                  Not long ago the phrase "opinions are a dime a dozen" was a prefixed disclaimer to protect against the charge that one
                                  couldn&apos;t differentiate opinion from comprehension. To do so was an embarrassment. This habit illumined a belief in the
                                  complicated nature of life and a regard for wisdom as a product of the disciplined enterprise of education. Today, in the
                                  face of the presentation of a comprehended position, it is not uncommon to hear the dismissive, &quot;Well, that&apos;s just
                                  your opinion.&quot;
                              </p>
                              <p>
                                  So, what <i>is</i> the difference between opinion and position? Simply stated, a position is the product of deliberation; it
                                  is the weighing of pros and cons that results in a choice. The holder of a position understands the strengths and weaknesses
                                  of a position, and can argue both sides. The holder of an opinion is either ignorant of alternative views or holds a strawman
                                  version. Typically, the holder of a position is not threatened by challenges, knowing the pros and cons, whereas the holder of
                                  an opinion is often threatened by opposition due to the lack of deliberation. Holders of opinion are unable to the explain why
                                  they believe what they believe, how a belief was reached and why. They falsely believe that their opinions are positions. It is
                                  the inability to delineate why a belief is held that disinguishes an opinion from a position.
                              </p>
                              <p>
                                  Our culture is a culture of superficiality in search of validation. It says, &quot;Agree with me. Tell me I&apos;m right. Validate my
                                  views. Like me. Share me.&quot; The tragic character of this dynamic is in what is not sought, namely, truth. 
                                  What is the nature, its attributes and dynamics, of a culture that produces people who seek validation instead of truth; who want to be "right,"
                                  but not search for right? Why is it important to hear "You're right" or "I agree with you?" The pusuit of validation is the acceptance of
                                  superficiality; it is the opprobrious act of lowering the bar to make the inability to delineate why you believe what
                                  you believe, or why you reject what others believe acceptable.
                              </p>
                          </div>

                          <div class="row">
                              <div class="col-md-6">
                                  <h3>Our History</h3>
                                  <p>A blog is basically an online journal wherein you can digitally pen down your thoughts, ideas, opinions and practically anything that you want people to read. Blogs come in different styles, formats, and settings, depending on the preference of the user.</p>
                              </div>

                              <div class="col-md-6">
                                  <h3>Our Values</h3>
                                  <p>Anyone who wants to start a blog can do so by becoming a member of a blogging website of their choice. Once they've become members, they automatically become a part of that particular blogging community.</p>
                              </div>
                          </div>

                          <p>However, there are many aspects of the profession. Working as a fashion designer can just as well mean supervising a design team at a sportswear company as producing a label under your own name. Although the former career may not seem as glamorous as the latter, it certainly will make your life less stressful. To create your own label takes a lot of time, dedication and hard work. Not to mention living just above the poverty line for several years</p>

                          <blockquote>Nowadays in education, blogs also play an important part. Professors use blogging to document the lessons that they have discussed and taught. This way, students who who have missed classes, can easily catch up with their assignments.</blockquote>
                      </div>

                      <ul class="list-inline social"><!-- Social Share -->
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                          <!-- <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                          <li><a href="#"><i class="fa fa-pinterest"></i></a></li> -->
                      </ul>

                      <a href="/contact" class="btn btn-default tf-btn txt-link">Contact Us</a>
                  </div>

              </div><!-- endAbout us content -->

          </div><!-- end Row -->
      </div><!-- End Container -->
  </div>
{% endblock %}
