{% extends 'base.html' %}

{% block title %}
  Register
{% endblock %}


{% block content %}
<!-- Top Header With Logo
  ====================================-->
  <div id="tf-page-header" class="text-center">
      <div class="container">
          <h5><em>sign up</em></h5>
          <hr>
          <h2 class="text-uppercase">Register</h2>
      </div>
  </div>

  <!-- Blog Body
  ====================================-->
  <div id="tf-content" class="contact">
      <div class="container"><!-- Container -->
          <div class="row"><!-- Row -->

              <div class="col-md-10 col-md-offset-1">
                  <div class="post-block">
                      <div class="post-detail">

                          <h3 class="bold">Welcome to Challenge My Faith</h3>
                          <h5 style="padding-bottom: 15px; color: #838383; line-height: 1.5em;">
                              Please provide the following information to create
                              your account. You must be registered to post comments.
                          </h5>

                          {% if session.registererror %}
                              {% include 'Error/errormessage.html' %}
                          {% endif %}

                          <!--  Display results from ajax_processing/  -->
                          <div id="message"></div>

                          {% if success %}
                            <div class="alert alert-success alert-padding">{{ success }}</div>
                          {% endif %}

                          <form style="padding: 20px;" name="registrationform" id="registrationform" class="form-horizontal"
                              action="register/register-new-user" method="post">

                              <!-- honeypot -->
                              <input type="hidden" name="honeypot" id="honeypot">

                              <div class="form-group">
                                  <input style="background: #fff;" type="email" class="form-control input-field email" name="email"
                                    id="register_email" placeholder="Email - user@example.com" autofocus>
                                  <span class="glyphicon form-control-feedback" id="register_email1"></span>
                              </div>

                              <div class="form-group">
                                      <input type="email" class="form-control input-field" name="verify_email"
                                        id="verify_email" placeholder="Verify email - user@example.com">
                                      <span class="glyphicon form-control-feedback" id="verify_email1"></span>
                              </div>

                              <div class="form-group">
                                      <input type="text" class="form-control input-field" name="first_name"
                                        id="first_name" placeholder="First name">
                                      <span class="glyphicon form-control-feedback" id="first_name1"></span>
                              </div>

                              <div class="form-group">
                                      <input type="text" class="form-control input-field" name="last_name"
                                        id="last_name" placeholder="Last name">
                                      <span class="glyphicon form-control-feedback" id="last_name1"></span>
                              </div>

                              <div class="form-group">
                                      <input type="password" class="form-control input-field" name="password" id="password" placeholder="Password">
                                      <span class="glyphicon form-control-feedback" id="password1"></span>
                              </div>

                              <div class="form-group">
                                      <input type="password" class="form-control input-field" name="verify_password"
                                        id="verify_password" placeholder="Verify password">
                                      <span class="glyphicon form-control-feedback" id="verify_password1"></span>
                              </div>

                              <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <div class="checkbox">
                                          <label for="agree">
                                              <input type="checkbox" name="agree" id="agree">
                                              I agree to the Terms and Conditions.
                                              <a href="/terms-conditions">
                                                  Read terms &amp; conditions
                                              </a>
                                          </label>
                                        </div>
                                    </div>
                              </div>

                              <div class="form-group">
                                    <button id="registerBtn" type="submit" class="btn btn-default btn-block tf-btn color">
                                      Register
                                    </button>
                              </div>

                          </form>
                      </div>
                  </div>
              </div>
          </div><!-- end Row -->
      </div><!-- End Container -->
  </div>
{% endblock %}


{% block bottomjs %}
<script>
$(document).ready(function(){

    //$("#registrationform").validate();


    $("#registrationform").validate({
        rules: {
            register_email: {
                required: true,
                minlength: 5,
                email: true
            },
            verify_email: {
                equalTo: "#register_email"
            },
            first_name: {
                minlength: 2,
                maxlength: 20,
                required: true
            },
            last_name: {
                minlength: 2,
                maxlength: 30,
                required: true
            },
            company: {
              required: true
            },
            password: {
                minlength: 6,
                maxlength: 12,
                required: true
            },
            verify_password: {
                equalTo: "#password"
            },
            agree: "required"
        },
        messages: {
            register_email: {
                required: "*Please enter your email address",
                email: "*Please enter a valid email address",
                minlength: "*Please enter an email address"
            },
            verify_email: {
                equalTo: "*Please enter the same email address"
            },
            first_name: {
                minlength: "*Please enter at least 2 characters",
                maxlength: "*Please enter less than 20 characters",
                required: "*Please enter your first name"
            },
            last_name: {
              minlength: "*Please enter at least 2 characters",
              maxlength: "*Please enter less than 30 characters",
              required: "*Please enter your last name"
            },
            company: {
                required: "*Please enter your company name"
            },
            password: {
                minlength: "*Please enter at least 6 characters",
                maxlength: "*Please enter up to 12 characters",
                required: "*Please enter a password",
            },
            verify_password: {
                equalTo: "*Please enter the same password"
            },
            agree: "*Please accept our terms and conditions"
        },
        highlight: function(element) {
            var id_attr = "#" + $( element ).attr("id") + "1";
            $(element).closest('.form-group has-feedback').removeClass('has-success').addClass('has-error');
            $(id_attr).removeClass('glyphicon-ok').addClass('glyphicon-remove');
        },
        unhighlight: function(element) {
            var id_attr = "#" + $( element ).attr("id") + "1";
            $(element).closest('.form-group has-feedback').removeClass('has-error').addClass('has-success');
            $(id_attr).removeClass('glyphicon-remove').addClass('glyphicon-ok');
        },
        errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function(error, element) {
                if(element.length) {
                    error.insertAfter(element);
                } else {
                error.insertAfter(element);
                }
            }
     });


  /* - - - - Check if email in db  - - - -  */

    $("#register_email").blur(function(){
        var email = $( this ).val();
        console.log("email = " + email);

        $.ajax({
            url: "/register/checkIfEmailAvailable",
            type: 'POST',
            data: {
              email: email
            },
            cache: false,
            success: function(data){
                var available = '<div class="col-sm-12 alert alert-success alert-padding text-center">';
                available += 'Email address is available!';
                available += '</div>';

                var not_available = '<div class="col-sm-12 alert alert-danger alert-padding text-center">';
                not_available += 'Sorry, email address entered is not available.';
                not_available += '</div>';

                if( data === 'available' ){
                    $("#message").html(available);
                }
                else {
                    $("#message").html(not_available);
                }
            },
            error: function(){
                alert("An error occurred.");
            }
        });
    });

    $(".input-field").focus(function(){
        $(this).css("background-color", "#fff");
    });
    $(".input-field").blur(function(){
        $(this).css("background-color", "#f6f6f6");
    });

    // change button text on submit
    // $("#registrationform").submit(function(){
    //     $("#registerBtn").text("Sending data. Please wait...");
    // });

});
</script>
{% endblock %}
