{% extends 'base.html' %}

{% block title %}
  Registration
{% endblock %}


{% block content %}

<div class="page-wrapper">
    <div class="row">

        <div class="col-md-12">
            <h1>Create your company profile</h1>
            <hr style="margin-bottom: 10px;">
        </div>

        <div class="col-md-10" style="margin-bottom: 50px;">
          <h3 class="bold">
              Welcome {{ user.first_name }} {{ user.last_name}} to American Biz
              Trader
          </h3>
          <p>
              After registration, you can edit this information any time from
              your Admin Panel.
          </p>


          <form method="post" id="new-business-broker-form" class="form-horizontal"
            action="/register/broker-registration?id={{ user.id }}"
            name="registration-form" enctype="multipart/form-data">

              <div class="form-group has-feedback">
                  <label for="first_name" class="control-label col-sm-3">
                      First name
                  </label>
                  <div class="col-sm-9">
                      <input type="text" name="first_name" class="form-control required"
                        id="first_name" placeholder="First name"
                      value="{{ user.first_name }}">
                      <span class="glyphicon form-control-feedback" id="first_name1"></span>
                  </div>
              </div>



              <div class="form-group has-feedback">
                  <label for="last_name" class="control-label col-sm-3">
                      Last name
                  </label>
                  <div class="col-sm-9">
                      <input type="text" name="last_name" class="form-control required"
                        id="last_name" placeholder="Last name"
                        value="{{ user.last_name }}">
                        <span class="glyphicon form-control-feedback" id="last_name1"></span>
                  </div>
              </div>


              <div class="form-group has-feedback">
                  <label for="title" class="control-label col-sm-3">
                      Title
                  </label>
                  <div class="col-sm-9">
                      <input type="text" name="title" class="form-control required"
                        id="title" placeholder="Title" value="{{ user.title }}" autofocus>
                      <span class="glyphicon form-control-feedback" id="title1"></span>
                  </div>
              </div>


              <div class="form-group has-feedback">
                  <label for="broker_email" class="control-label col-sm-3">
                      Email
                  </label>
                  <div class="col-sm-9">
                      <input type="text" name="broker_email" class="form-control required"
                        id="email" placeholder="Email"
                      value="{% if user.email %}{{ user.email }}{% endif %}">
                      <span class="glyphicon form-control-feedback" id="broker_email1"></span>
                  </div>
              </div>


              <div class="form-group has-feedback">
                  <label for="broker_cell" class="control-label col-sm-3">
                      Cell
                  </label>
                  <div class="col-sm-9">
                      <input type="text" name="broker_cell" class="form-control required">
                      <span class="glyphicon form-control-feedback" id="broker_cell1"></span>
                  </div>
              </div>


              <div class="form-group has-feedback">
                  <label for="company_name" class="control-label col-sm-3">
                      Company Name
                  </label>
                  <div class="col-sm-9">
                      <input type="text" class="form-control required" name="company_name"
                        id="company_name" placeholder="Company name"
                        value="{% if user.company %}{{ user.company }}{% endif %}">
                      <span class="glyphicon form-control-feedback" id="company_name1"></span>
                  </div>
              </div>


              <div class="form-group has-feedback">
                  <label for="type" class="control-label col-sm-3">
                    Type
                  </label>
                  <div class="col-sm-9">
                      <select name="type" id="type" class="form-control required">
                        <option value="">Select</option>
                        <option value="1">Business Broker</option>
                        <option value="2">Commercial Real Estate Broker</option>
                        <option value="3">Both - Business &amp; Real Estate Broker</option>
                      </select>
                      <span class="glyphicon form-control-feedback" id="type1"></span>
                      <small>
                        IMPORTANT! You can post listings only for the type selected
                      </small>
                  </div>
              </div>


              <div class="form-group has-feedback">
                  <label for="address1" class="control-label col-sm-3">Address </label>
                  <div class="col-sm-9">
                      <input type="text" name="address1" class="form-control required"
                      id="address1" placeholder="Address">
                      <span class="glyphicon form-control-feedback" id="address11"></span>
                  </div>
              </div>



              <div class="form-group has-feedback">
                  <label for="address2" class="control-label col-sm-3">
                      Address2
                  </label>
                  <div class="col-sm-9">
                      <input type="text" name="address2" class="form-control"
                        id="address2" placeholder="Address2 - not required">
                      <span class="glyphicon form-control-feedback" id="address21"></span>
                  </div>
              </div>



              <div class="form-group has-feedback">
                  <label for="city" class="control-label col-sm-3">
                      City
                  </label>
                  <div class="col-sm-9">
                      <input type="text" name="city" class="form-control required"
                      id="city" placeholder="City">
                      <span class="glyphicon form-control-feedback" id="city1"></span>
                  </div>
              </div>



              <div class="form-group has-feedback">
                  <label for="state" class="control-label col-sm-3">
                      State
                  </label>
                  <div class="col-sm-9">
                      <select class="form-control required" name="state" id="state">
                          <option value="">Select state</option>
                          {% for state in states %}
                          <option value="{{ state.abbrev }}">{{ state.name }}</option>
                          {% endfor %}
                      </select>
                      <span class="glyphicon form-control-feedback" id="state1"></span>
                  </div>
              </div>



              <div class="form-group has-feedback">
                  <label for="zip" class="control-label col-sm-3">
                      Zip
                  </label>
                  <div class="col-sm-9">
                      <input type="text" name="zip" class="form-control required"
                      id="zip" placeholder="Zip">
                      <span class="glyphicon form-control-feedback" id="zip1"></span>
                  </div>
              </div>



              <div class="form-group has-feedback">
                  <label for="telephone" class="control-label col-sm-3">
                      Telephone
                  </label>
                  <div class="col-sm-9">
                      <input type="text" name="telephone" class="form-control required"
                      id="telephone" placeholder="Telephone">
                      <span class="glyphicon form-control-feedback" id="telephone1"></span>
                  </div>
              </div>



              <div class="form-group has-feedback">
                  <label for="fax" class="control-label col-sm-3">
                      Fax
                  </label>
                  <div class="col-sm-9">
                      <input type="text" class="form-control" name="fax"
                      id="fax" placeholder="Fax - not required">
                      <span class="glyphicon form-control-feedback" id="fax1"></span>
                  </div>
              </div>



              <div class="form-group has-feedback">
                  <label for="company_logo" class="control-label col-sm-3">
                      Company Logo
                  </label>
                  <div class="col-sm-9">
                      <input type="file" name="company_logo" id="company_logo" class="required">
                      <p class="help-block small" style="color: #222">
                          *Must be gif, jpg, jpeg or png under 2MB
                      </p>
                      <span class="glyphicon form-control-feedback" id="company_logo1"></span>
                  </div>
              </div>



              <div class="form-group has-feedback">
                  <label for="broker_photo" class="control-label col-sm-3">
                      Broker photo
                  </label>
                  <div class="col-sm-9">
                      <input type="file" name="broker_photo" id="broker_photo" class="required">
                      <p class="help-block small" style="color: #222">
                          *Must be gif, jpg, jpeg or png under 2MB
                      </p>
                      <span class="glyphicon form-control-feedback" id="broker_photo1"></span>
                  </div>
              </div>



              <div class="form-group has-feedback">
                  <label for="services" class="control-label col-sm-3">
                      Services offered
                      <small class="red text-left">
                        <br>
                        *Required
                      </small>
                  </label>
                  <div class="col-sm-9">
                      <textarea  class="form-control" name="services" id="services" placeholder="Services offered"></textarea>
                      <script>
                        CKEDITOR.replace( 'services' );
                      </script>
                  </div>
                  <span class="glyphicon form-control-feedback" id="services1"></span>
              </div>



              <div class="form-group has-feedback">
                  <label for="company_bio" class="control-label col-sm-3">
                      Company Biography
                      <small class="red">
                        <br>
                        *Required
                      </small>
                  </label>
                  <div class="col-sm-9">
                      <textarea name="company_bio" class="form-control" id="company_bio" placeholder="Company Biography"></textarea>
                      <script>
                        CKEDITOR.replace( 'company_bio' );
                      </script>
                  </div>
                  <span class="glyphicon form-control-feedback" id="company_bio1"></span>
              </div>



              <div class="form-group has-feedback">
                  <label for="website" class="control-label col-sm-3">
                      Website
                  </label>
                  <div class="col-sm-9">
                      <input type="url" name="website" class="form-control required"
                      id="website" placeholder="http://www.YourDomain.com">
                      <span class="glyphicon form-control-feedback" id="website1"></span>
                      <small>
                        *Must include &quot;http://&quot;
                      </small>
                  </div>
              </div>

              <div class="col-sm-offset-3 col-sm-9">
                  <button type="submit" id="submit-registration-form-btn"
                      class="btn btn-primary btn-lg btn-block">
                      Submit
                  </button>
              </div>
          </form>

        </div><!--  // .col  -->

        <div class="col-md-4">
            {# % include 'franchise-sidebar.html' % #}
        </div><!-- // .col-md-4  -->

    </div><!-- // .row  -->
</div><!-- .page-wrapper -->
{% endblock %}

{% block bottomjs %}
<script>
$(document).ready(function(){

  $("#new-business-broker-form").validate();

  $("#new-business-broker-form").submit(function(){
      $("#submit-registration-form-btn").text("Sending data. Please wait...");
  });

});

</script>
{% endblock %}
