<div class="panel panel-primary">

    <div class="panel-heading text-center">
        <div class="panel-title"><h3 style="margin:0;">Franchises: Buy &#47; Sell </h3></div>
    </div><!-- // .panel-heading  -->

    <div class="panel-body">
        <div class="sidebar-ads">
            <img class="img-responsive" src="/assets/images/franchises/ace_hdwe.png" alt="Ace Hardware">
            <img class="img-responsive" src="/assets/images/franchises/blimpie.jpg" alt="Blimpie">
            <img class="img-responsive" src="/assets/images/franchises/closets_by_design.jpg" alt="Closets by Design">
            <img class="img-responsive" src="/assets/images/franchises/coconuts_fish_cafe.png" alt="Coconuts Fish Cafe">
            <img class="img-responsive" src="/assets/images/franchises/wendys.png" alt="Wendys">
            <img class="img-responsive" src="/assets/images/franchises/smoothie_king.jpg" alt="Smoothie King">
            <img class="img-responsive" src="/assets/images/franchises/midas.jpg" alt="Midas">
            <img class="img-responsive" src="/assets/images/franchises/subway.jpg" alt="Subway">

        </div><!-- // .sidebar-ads  -->
    </div><!-- // .panel-body  -->
</div><!-- // .panel  -->
