<h4 style="margin:30px 0px 0px 0px;">Find business by keyword(s)</h4>

<form method="post" action="/buy/search-by-keyword" name="search_by_keyword" id="search_by_keyword">
    <div class="form-group">
        <label for="keywords"></label>
        <input type="text" class="form-control" name="keywords" id="keywords" placeholder="Use comma separated keywords" value="">
    </div>
    <button class="btn btn-buy center-block" type="submit">Go</button>
</form>
<hr>

<div class="buy-sidebar-left">

  <a href="/contact?id=advertise"><img class="img-responsive" src="/assets/images/buy/advertise_with_us.jpg" alt="Advertise on AmericanBizTrader.com"></a>

  <h2>Franchises</h2>
  <a href="http://www.fitness1440.com/own-a-franchise/"><img class="img-responsive" src="/assets/images/buy/F14-logo.jpg" alt="Fitness 1440 - American Biz Trader"></a>
  <br>
  <br>

  <h2>Experts</h2>
  <a href="http://www.murphybusiness.com" target="_blank"><img class="img-responsive" src="/assets/images/buy/murphy_business.jpg" alt="Murphy Business and Financial Corp - American Biz Trader"></a>
  <a href="http://diamondfs.com" target="_blank"><img class="img-responsive" src="/assets/images/buy/diamond_financial.jpg" alt="Diamond Financial - American Biz Trader"></a>
  <!-- <a href="http://americangymtrader.com" target="_blank"><img class="img-responsive" src="/assets/images/buy/agt_logo.jpg" alt="American Gym Trader - American Biz Trader"></a> -->

</div>
