<!-- Main Navigation/Menu
====================================-->
<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="{% if homeindex == 'active' %}active{% endif %}"><a href="/">Home</a></li>
            <li class="{% if aboutindex == 'active' %}active{% endif %}"><a href="/about">About</a></li>
            <!-- <li class="{% if contactindex == 'active' %}active{% endif %}"><a href="/contact">Contact</a></li> -->
            <li class="{% if testimonialindex == 'active' %}active{% endif %}"><a href="/testimonials">Testimonials</a></li>
            {% if session.user %}
              {% if session.user_status == 0 %}
                <li>
                  <a href="/testimonials/add-testimonial">
                    Add testimonial
                  </a>
                </li>
              {% endif %}
              <li>
                <a>
                  <span style="color:#BE834A;">
                    Welcome {{ session.full_name }}!
                  </span>
                </a>
              </li>
            {% endif %}
          </ul>

          <ul class="nav navbar-nav navbar-right">

              {% if (session.user_id and session.user_status == 5) or (session.user_superuser == 'true') %}
                  <li class=dropdown>
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Admin
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                        {% if session.user_status == 5 %}
                          <li><a href="/admin/authors/index?user_id={{ session.user_id }}">Admin Panel</a></li>
                          <li role="separator" class="divider"></li>
                        {% endif %}
                        {% if (session.user_id) and (session.user_superuser == 'true') %}
                          <li><a href="/admin/siteadmin/index?user_id={{ session.user_id }}">Site Administration</a></li>
                        {% endif %}
                      </ul>
                  </li>
              {% endif %}

              {% if session.user %}
                  <li><a href="/logout"><span class="glyphicon glyphicon-lock"></span> Logout</a></li>
              {% endif %}
              {% if session.user == false %}
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Log In / Register
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu" style="min-width:184px;">
                          <li><a href="/register">Register</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="/login">Log In</a></li>
                      </ul>
                  </li>
              {% endif %}
          </ul>

          <!-- <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          </ul> -->

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>
