{% extends "base.html" %}

{% block browsertitle %}
  Add testimonial
{% endblock %}


{% block content %}
<!-- Top Header With Logo
  ====================================-->
  <div id="tf-page-header" class="text-center">
      <div class="container">
          <h5><em>share your thoughts</em></h5>
          <hr>
          <h2 class="text-uppercase">Testimonial</h2>
      </div>
  </div>

  <!-- Blog Body
  ====================================-->
  <div id="tf-content" class="contact">
      <div class="container"><!-- Container -->
          <div class="row"><!-- Row -->

            <div class="col-md-10 col-md-offset-1"> <!-- About us content -->
                <div class="post-block">
                    <div class="post-detail">

                        <p class="text-center" style="margin-bottom: 28px;">
                          Thanks, {{ user.user_firstname }} {{ user.user_lastname }},
                          for taking the time to share how Challenge My Faith
                          has impacted you.
                        </p>

                        {% if session.addtestimonialerror %}
                          {% include 'errormessage.php' %}
                        {% endif %}

                        <form method="post" name="testimonialform" class="form"
                          id="testimonialform" action="/testimonials/submit-testimonial?user_id={{ session.user_id }}">

                            <div class="form-group">
                                <input style="background: #fff;" type="text" class="form-control required"
                                id="title" name="title" placeholder="Title" autofocus>
                            </div>

                            <div class="form-group">
                                <textarea rows="8" class="form-control required" id="testimonial" name="testimonial" placeholder="testimonial"></textarea>
                                <script>
                                  CKEDITOR.replace( 'testimonial' );
                                </script>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control required"
                                id="testimonial_full_name" name="testimonial_full_name" value="{{ user.user_firstname }} {{ user.user_lastname }}">
                            </div>


                            <div class="form-group">
                                <button type="submit" class="btn btn-default btn-block tf-btn color">
                                  Submit Testimonial
                                </button>
                                <small>
                                  <br>
                                  *If approved, your tesitmonial will be posted
                                  on this website.
                                </small>
                            </div>

                        </form>
                      </div>
                  </div>
              </div>

          </div><!-- end Row -->
      </div><!-- End Container -->
  </div>
{% endblock %}

{% block bottomjs %}
  <script>
  $(document).ready(function(){
    //$("#testimonialform").validate();

    $("#title").focus(function(){
        $(this).css("background-color", "#fff");
    });
    $("#title").blur(function(){
        $(this).css("background-color", "#f6f6f6");
    });

  });
  </script>
{% endblock %}
