{% extends "base.html" %}


{% block title %}
  Testimonials for American Biz Trader
{% endblock %}

{% block metadescription %}
  Learn what members of American Biz Trader are saying about AmericanBizTrader.com.
{% endblock %}


{% block content %}
<div class="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <h1>Testimonials</h1>
            <hr>
        </div>

        <div class="col-md-8">
            <h3 style="margin-bottom: 30px;">What clients are <i>saying</i> about American Biz Trader
                <i class="fa fa-quote-left" aria-hidden="true"></i>
                  . . .
                <i class="fa fa-quote-right" aria-hidden="true"></i>
            </h3>


            {% for item in testimonials %}
              <div class="testimonial-wrapper">
                      <h4>
                        <strong>
                          {{ item.title }}
                        </strong>
                      </h4>
                      <p>
                        {{ item.created_at|date("m-d-Y") }}
                      </p>
                  <div class="pull-left">
                      <i class="fa fa-quote-left fa-3x" aria-hidden="true"></i>
                  </div>
                  <div style="margin: 55px 43px 0px 43px">
                      {{ item.testimonial|raw }}
                  </div>
                  <div style="margin: 5px 43px 0px 43px">
                      {% if item.name == 'Dave Didion' %}
                        {{ item. name }}<br>President<br>American Biz Trader
                      {% else %}
                        {{ item.name }}
                        <br>
                        {{ item.company }}
                      {% endif %}
                  </div>

              </div><!-- // testimonial-wrapper -->
            {% endfor %}

        </div><!-- // col-md-8  -->

        <div class="col-md-4">
            <br><br><br><br>
        </div>

    </div><!-- // .row  -->
</div>
{% endblock %}
