{% extends "base.html" %}


{% block title %}
  Testimonials for American Biz Trader
{% endblock %}

{% block metadescription %}
  Learn what members of American Biz Trader are saying about AmericanBizTrader.com.
{% endblock %}


{% block content %}
<!-- Top Header With Logo
  ====================================-->
  <div id="tf-page-header" class="text-center">
      <div class="container">
          <h5><em>thoughts shared</em></h5>
          <hr>
          <h2 class="text-uppercase">Testimonials</h2>
      </div>
  </div>

  <!-- Blog Body
  ====================================-->
  <div id="tf-content" class="contact">
      <div class="container"><!-- Container -->
          <div class="row"><!-- Row -->

            <div class="col-md-10 col-md-offset-1"> <!-- About us content -->
                <div class="post-block">
                    <div class="post-detail">
                        <h3 class="text-center" style="margin-bottom: 30px;">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                              ...What users are saying...
                            <i class="fa fa-quote-right" aria-hidden="true"></i>
                        </h3>


                        {% for item in testimonials %}
                          <div class="testimonial-wrapper">
                              <h4>
                                <strong>
                                  {{ item.title }}
                                </strong>
                              </h4>
                              <p>
                                {{ item.user_display_name }} | {{ item.created_at|date("m-d-Y") }}
                              </p>
                              <div class="pull-left">
                                  <i class="fa fa-quote-left fa-3x" aria-hidden="true"></i>
                              </div>
                              <div style="margin: 55px 43px 0px 43px">
                                  {{ item.testimonial|raw }}
                              </div>
                          </div><!-- // testimonial-wrapper -->
                        {% endfor %}

                      </div>
                  </div>
              </div>

          </div><!-- end Row -->
      </div><!-- End Container -->
  </div>
{% endblock %}
